// align elements
@mixin alignElements($val1, $val2, $val3) {
    display: $val1;
    align-items: $val2;
    justify-content: $val3;
}

// positioning elements
@mixin positionElements($position, $left, $bottom, $content, $bgColor, $height, $width, $transition) {
    position: $position;
    left: $left;
    bottom: $bottom;
    content: $content;
    background-color: $bgColor;
    height: $height;
    width: $width;
    transition: $transition;
}

// text elements
@mixin textElements($color, $fontWeight, $fontSize, $textTransform: lowercase) {
    color: $color;
    font-weight: $fontWeight;
    font-size: $fontSize;
    text-transform: $textTransform;
}

// theme button
@mixin themeBtn($color, $border, $transition, $position) {
    display: inline-block;
    border: 4px solid $border;
    color: $color;
    font-weight: $bold;
    text-transform: uppercase;
    padding: 18px 21px 13px;
    letter-spacing: 1.1px;
    -webkit-text-stroke: 1px $grayColor;
    background: transparent;
    transition: $transition;
    position: $position;
}

// section title
@mixin sectionTitle($fontSize, $color, $fontWeight) {
    font-size: $fontSize;
    color: $color;
    font-weight: $fontWeight;
}