// colors
$themeColor: #092772;
$secondaryColor: #2B8FE5;
$paragraphColor: #000000;
$grayColor: #707070;
$borderColor: #F8F8F8;
// fontweight
$thin: 400;
$regular: 500;
$medium: 700;
$bold: 800;
$extraBold: 900;