<div class="cta">
  <div class="container">
    <div class="row">
      <div class="cta-container">
        <div class="col-lg-8 offset-lg-2">
          <div class="cta-title">
            <h2>Let’s Have a Conversation.</h2>
            <img src="../assets/img/cta-img.svg" alt="illustration">
            <p>We are currently taking new individual and small business clients. If you’re interested in chatting with one of your partners, we would love to start a conversation.
            </p>
            <a href="#" class="theme-btn">Contact Us</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>