<!--### HERO STARTS ###-->
<div class="hero">
  <div class="container bg">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="hero-text">
          <span>What is Lorem Ipsum?</span>
          <h1>Lorem Ipsum is simply dummy text of the printing and</h1>
          <a href="#" class="theme-btn">Learn About </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="hero-illustration">
          <img src="./assets/img/hero-img.svg" alt="illustration">
        </div>
      </div>
    </div>
  </div>
</div>
<!--### HERO ENDS ###-->