<div class="service">
  <!-- <div class="service-bg">
    <img src="../assets/img/service-bg.svg " alt="service-bg">
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h2>Lorem Ipsum is simply dummy text</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
      </div>
    </div>
    <div class="service-container">
      <div class="row ">

        <div class="col-lg-4 mb-4">
          <div class="single-service">
            <div class="service-icon">
              <img src="../assets/img/service-icon-1.svg" alt="store">
            </div>
            <div class="service-details">
              <h4>Lorem Ipsum is simply dummy text</h4>
              <a href="#" class="theme-btn">Learn More </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="single-service">
            <div class="service-icon">
              <img src="../assets/img/service-icon-2.svg" alt="store">
            </div>
            <div class="service-details">
              <h4>Lorem Ipsum is simply dummy text</h4>
              <a href="#" class="theme-btn">Learn More </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="single-service">
            <div class="service-icon">
              <img src="../assets/img/service-icon-3.svg" alt="store">
            </div>
            <div class="service-details">
              <h4>Lorem Ipsum is simply dummy text</h4>
              <a href="#" class="theme-btn">Learn More </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="single-service">
            <div class="service-icon">
              <img src="../assets/img/service-icon-1.svg" alt="store">
            </div>
            <div class="service-details">
              <h4>Lorem Ipsum is simply dummy text</h4>
              <a href="#" class="theme-btn">Learn More </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="single-service">
            <div class="service-icon">
              <img src="../assets/img/service-icon-2.svg" alt="store">
            </div>
            <div class="service-details">
              <h4>Lorem Ipsum is simply dummy text</h4>
              <a href="#" class="theme-btn">Learn More </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="single-service">
            <div class="service-icon">
              <img src="../assets/img/service-icon-3.svg" alt="store">
            </div>
            <div class="service-details">
              <h4>Lorem Ipsum is simply dummy text</h4>
              <a href="#" class="theme-btn">Learn More </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>