<div class="showcase">
  <div class="container">
    <div class="wrapper">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="showcase-title">
            <h2>Lorem Ipsum is simply</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore et dolore.
            </p>
            <p>Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 d-flex justify-content-end">
          <div class="showcase-img">
            <img src="../assets/img/showcase.svg" alt="books">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>