<div class="team">
  <div class="container">
    <div class="team-bg">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-3">
          <div class="team-img">
            <img src="../assets/img/team-img.svg" alt="team">
          </div>
        </div>
        <div class="col-lg-9 col-md-9">
          <div class="team-text">
            <h2>Meet The Team</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
            <a href="#" class="theme-btn">Meet The Team</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>