@import './utilities/Global';
@import './utilities/Variables';
@import './utilities/Mixins';

/*----------------------------------------------------------------------------------
Project     :  WP Pool
-------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------
[Table of contents]
default css
navbar area
hero area
service area
showcase area
about area
mission area
team area
blog area
cta area
footer area
--------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------
    navbar area
---------------------------------------------------------------------------------------*/

.header {
    padding: 35px 0;
    .logo {
        img {
            width: 100%;
        }
    }
    .navigation {
        .meta-info {
            @include alignElements(flex, center, end);
            margin-bottom: 8px;
            span {
                color: $grayColor;
                text-transform: capitalize;
                font-weight: $thin;
                margin-right: 7px;
            }
            p {
                color: $secondaryColor;
                font-weight: $thin;
            }
            .meta-info--phone,
            .meta-info--email {
                @include alignElements(flex, center, end);
            }
            .meta-info--phone {
                margin-right: 35px;
            }
        }
    }
    .main-menu {
        ul {
            @include alignElements(flex, center, end);
            margin-bottom: 0;
            li {
                margin-right: 35px;
                position: relative;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    font-weight: $bold;
                    color: $themeColor;
                    text-transform: uppercase;
                    display: block;
                    transition: .5s linear all;
                }
                &:after {
                    @include positionElements(absolute, 50%, -20%, '', $secondaryColor, 5px, 5px, .5s linear all);
                    border-radius: 50%;
                    opacity: 0;
                }
                &:hover {
                    &::after {
                        opacity: 1;
                    }
                    a {
                        color: $secondaryColor;
                    }
                }
            }
        }
    }
}