/*-------------------------------------------------------------------------------------
    hero area
---------------------------------------------------------------------------------------*/

.hero {
    .hero-text {
        span {
            @include textElements($secondaryColor, $thin, 20px, uppercase);
            letter-spacing: 1.8px;
            margin-bottom: 35px;
            @media (min-width: 450px) and (max-width: 1200px) {
                font-size: 17px;
            }
            @media (min-width: 320px) and (max-width: 459px) {
                font-size: 15px;
            }
        }
        h1 {
            @include textElements($themeColor, $bold, 50px, normal);
            margin-bottom: 26px;
            @media (min-width: 450px) and (max-width: 1200px) {
                font-size: 40px;
            }
            @media (min-width: 320px) and (max-width: 459px) {
                font-size: 35px;
            }
        }
        a {
            @include themeBtn($themeColor, $secondaryColor, .5s linear all, relative);
            z-index: 9999;
            &::before {
                @include positionElements(absolute, 0, 0, '', $secondaryColor, 100%, 0%, .5s linear all);
                z-index: -1;
            }
            &:hover {
                &::before {
                    width: 100%;
                }
                -webkit-text-stroke: transparent;
                color: #fff;
            }
            @media (max-width: 770px) {
                font-size: 14px;
                padding: 15px 19px 12px;
            }
        }
    }
    .hero-illustration {
        img {
            width: 100%;
            margin-left: 47px;
            @media (max-width: 991px) {
                margin-left: 0;
            }
        }
    }
    background: url('../../assets/img/hero-bg.svg') no-repeat top left;
    background-size: cover;
    padding: 68px 0;
}